<div class="navBar">
  <div class="circle">
    <div class="icon">K</div>
  </div>
  <mat-toolbar class="nav-toolbar">
    <mat-nav-list class="list-horizontal">
      <mat-list-item>
        <a href>Home</a>
      </mat-list-item>
      <mat-list-item>
        <a href>Project</a>
      </mat-list-item>

      <mat-list-item>
        <a href>About</a>
      </mat-list-item>
      <mat-list-item>
        <a href>Contact</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-toolbar>

  <div class="social-media">
    <share-buttons
      theme="circles-dark"
      [include]="['facebook', 'linkedin', 'twitter']"
      [showIcon]="true"
      [showText]="false"
      class="pt-5"
    >
    </share-buttons>
  </div>
</div>
