<div class="navBar">
  <div class="icon">
    <mat-icon>home</mat-icon>
  </div>
  <mat-toolbar color="primary">
    <mat-nav-list class="list-horizontal">
      <mat-list-item>
        <a href>Home</a>
      </mat-list-item>
      <mat-list-item>
        <a href>Project</a>
      </mat-list-item>

      <mat-list-item>
        <a href>About</a>
      </mat-list-item>
      <mat-list-item>
        <a href>Contact</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-toolbar>

  <div class="social-media">
    <mat-icon>home</mat-icon>
    <mat-icon>home</mat-icon>
    <mat-icon>home</mat-icon>
  </div>
</div>
