<div class="heroSection">
  <div class="title">Kulla</div>
  <div class="title-description">Fullstack developer</div>
  <div class="intro-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ex, in
    quod molestiae veritatis neque repellat similique incidunt a aut nihil
    dolorem omnis suscipit, quia magni distinctio! Magni, repellat
    exercitationem.
  </div>
</div>

<div class="firstSection">
  <h1 class="title-section">What I Do</h1>
  <div class="cards-area">
    <div class="card-item">
      <div class="card-item-image"></div>
      <div class="card-item-text">
        <div class="title"></div>
        <div class="title-description"></div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image"></div>
      <div class="card-item-text">
        <div class="title"></div>
        <div class="title-description"></div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image"></div>
      <div class="card-item-text">
        <div class="title"></div>
        <div class="title-description"></div>
      </div>
    </div>
  </div>
</div>

<div class="secondSection">
  <h1 class="title-section">What I Use</h1>
  <div class="language-elements"></div>
</div>

<div class="thirdSection">
  <h1 class="title-section">Projects</h1>
  <div class="cards-area">
    <div class="card-item">
      <div class="card-item-image"></div>
      <div class="card-item-text">
        <div class="title"></div>
        <div class="title-description"></div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image"></div>
      <div class="card-item-text">
        <div class="title"></div>
        <div class="title-description"></div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image"></div>
      <div class="card-item-text">
        <div class="title"></div>
        <div class="title-description"></div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image"></div>
      <div class="card-item-text">
        <div class="title"></div>
        <div class="title-description"></div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image"></div>
      <div class="card-item-text">
        <div class="title"></div>
        <div class="title-description"></div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image"></div>
      <div class="card-item-text">
        <div class="title"></div>
        <div class="title-description"></div>
      </div>
    </div>
  </div>
</div>
