<div class="heroSection">
  <div class="title">Kulla</div>
  <div class="title-description">Fullstack developer</div>
  <div class="intro-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ex, in
    quod molestiae veritatis neque repellat similique incidunt a aut nihil
    dolorem omnis suscipit, quia magni distinctio! Magni, repellat
    exercitationem.
  </div>
</div>

<div class="firstSection">
  <h1 class="title-section">What I Do</h1>
  <div class="container">
    <div class="card">
      <div class="card-item card-item1">
        <div class="content">
          <img
            src="../../../assets/images/coding_computer_pc_screen_icon_193866.svg"
          />
          <h3>Architecture</h3>
        </div>
      </div>
      <div class="card-item card-item2">
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum
            cumque minus iste veritatis provident at.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-item card-item1">
        <div class="content">
          <img
            class="card-item-image"
            src="../../../assets/images/programming.svg"
          />
          <h3>Code</h3>
        </div>
      </div>
      <div class="card-item card-item2">
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum
            cumque minus iste veritatis provident at.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-item card-item1">
        <div class="content">
          <img src="../../../assets/images/rocketlaunch.svg" />
          <h3>Deploying</h3>
        </div>
      </div>
      <div class="card-item card-item2">
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum
            cumque minus iste veritatis provident at.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="thirdSection">
  <h1 class="title-section">Projects</h1>
  <div class="cards-area">
    <div class="card-item">
      <div class="card-item-image">
        <img src="../../../assets/images/rocketlaunch.svg" alt="" />
      </div>
      <div class="card-item-text">
        <div class="title">Name</div>
        <div class="title-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eos
          laborum pariatur hic atque, laudantium vero aspernatur. Quasi error
          facilis dicta quibusdam delectus similique quis, perferendis
          consectetur molestias eius quod!
        </div>
        <div class="item-link">
          <button>
            <a href="#">Go to Project </a>
          </button>
        </div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image">
        <img src="../../../assets/images/rocketlaunch.svg" alt="" />
      </div>
      <div class="card-item-text">
        <div class="title">Name</div>
        <div class="title-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla et
          ducimus dolor dolorum deserunt eveniet temporibus inventore odio sint
          itaque porro, beatae ullam obcaecati expedita pariatur, ut, culpa
          ratione dicta?
        </div>
        <div class="item-link">
          <button>
            <a href="#">Go to Project</a>
          </button>
        </div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image">
        <img src="../../../assets/images/rocketlaunch.svg" alt="" />
      </div>
      <div class="card-item-text">
        <div class="title">Name</div>
        <div class="title-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet
          quasi, eos dicta ab tempora laborum quos culpa fuga, explicabo autem
          quod quas! Voluptatum at necessitatibus blanditiis rem ex assumenda
          odio?
        </div>
        <div class="item-link">
          <button>
            <a href="#">Go to Project</a>
          </button>
        </div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image">
        <img src="../../../assets/images/rocketlaunch.svg" alt="" />
      </div>
      <div class="card-item-text">
        <div class="title">Name</div>
        <div class="title-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro ex
          architecto sapiente veritatis culpa molestiae inventore accusantium
          temporibus. Quam reiciendis a repudiandae atque vitae aliquid est
          veritatis fugiat quis minus!
        </div>
        <div class="item-link">
          <button>
            <a href="#">Go to Project</a>
          </button>
        </div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image">
        <img src="../../../assets/images/rocketlaunch.svg" alt="" />
      </div>
      <div class="card-item-text">
        <div class="title">Name</div>
        <div class="title-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          nobis accusamus quae sequi voluptate beatae, autem, natus quisquam
          perferendis, deserunt minima esse reprehenderit odio quasi! Sint
          molestiae quisquam perferendis iusto!
        </div>
        <div class="item-link">
          <button>
            <a href="#">Go to Project</a>
          </button>
        </div>
      </div>
    </div>
    <div class="card-item">
      <div class="card-item-image">
        <img src="../../../assets/images/rocketlaunch.svg" alt="" />
      </div>
      <div class="card-item-text">
        <div class="title">Name</div>
        <div class="title-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
          assumenda amet quo repudiandae quia cupiditate distinctio fugiat
          veritatis illo rerum recusandae similique incidunt sit libero sequi,
          asperiores aperiam quae fugit?
        </div>
        <div class="item-link">
          <button>
            <a href="#">Go to Project</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="title-about">About me</div>
<div class="fourthSection">
  <div class="section-left">
    <div class="section-left-content">
      <div class="upper-part">
        <div class="section-img">
          <div class="img">
            <img
              src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png"
              alt="section image"
            />
          </div>
        </div>

        <h2>Kulla</h2>
        <h3>Backend developer</h3>
      </div>

      <ul class="icons">
        <share-buttons
          theme="circles-dark"
          [include]="['facebook', 'linkedin', 'twitter']"
          [showIcon]="true"
          [showText]="false"
          class="pt-5 list"
        >
        </share-buttons>
      </ul>
    </div>
  </div>

  <div class="section-right">
    <h1>Hello<span>.</span></h1>
    <h2>Here's who I am & what I do</h2>
    <div class="section-btns">
      <button type="button" class="btn">
        <a href="">resume / CV</a>
      </button>
      <button type="button" class="btn">
        <a href=""> Git hub</a>
      </button>
    </div>

    <div class="section-description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
        aspernatur possimus ullam quaerat, laboriosam ex voluptate aliquid
        laborum, obcaecati ratione accusamus! Ea nisi modi dolor nam numquam?
        Temporibus, molestias amet.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus iure
        tempora alias laudantium sapiente impedit!
      </p>
    </div>
  </div>
</div>

<div class="fifthSection">
  <div class="contact-container">
    <div class="section-left">
      <div class="title-section">Contact Me</div>
      <div class="section-img">
        <img src="../../../assets/images/mail_email.png" alt="" />
      </div>
    </div>
    <div class="section-right">
      <div class="form-group">
        <div class="form-container">
          <mat-form-field>
            <input matInput placeholder="Name" />
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email" />
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Message"></textarea>
          </mat-form-field>
          <div class="button">
            <button mat-raised-button color="primary">Send</button>
            <button mat-raised-button color="primary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
