@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Noto+Sans+Display:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,800;1,900&family=Nunito+Sans:wght@200;300;400;600;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0f0d;
}

// #EE4266 Paradise Pink
// #2A1E5C russian violet
// #0A0F0D Rich Black Fogra 39
// #C4CBCA Silver Sand
// #3CBBB1 Tiffany Blue
